SECRET_KEY=replace-me-with-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_ENGINE=postgres
DB_NAME=ecommerce
DB_USER=ecommerce
DB_PASSWORD=ecommerce
DB_HOST=db
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000

CACHE_BACKEND=django.core.cache.backends.locmem.LocMemCache
CACHE_LOCATION=ecommerce-cache

FRONTEND_URL=http://localhost:3000
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@example.com
